@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)),
    url("assets/background.avif");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
  padding-top: 50px;
}

.container {
  max-width: 300px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 50px;
}

.box {
  padding-block: 32px;
  color: whitesmoke;
  text-align: center;
  font-size: 32px;
  font-weight: 800;
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-right: 2px solid rgba(255, 255, 255, 0.2);
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  min-width: 300px;
  font-family: "Orbitron", sans-serif;
}

.location {
  font-size: 24px;
}

.made-with {
  color: whitesmoke;
  text-align: center;
  font-family: tahoma;
  margin-bottom: 20px;
  font-size: 22px;
  font-weight: 500;
}

@media screen and (max-width: 786px) {
  body {
    padding-top: 40px;
  }
  .container {
    gap: 30px;
  }

  .made-with {
    font-size: 18px;
  }
}
